absl-py
aiohttp
aiosignal
albumentations
appdirs
async-timeout
attrs
cachetools
certifi
charset-normalizer
click
contourpy
cycler
docker-pycreds
filelock
fonttools
frozenlist
fsspec
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
idna
imageio
importlib-metadata
importlib-resources
Jinja2
joblib
kiwisolver
lazy-loader
lightning-utilities
llvmlite
Markdown
MarkupSafe
matplotlib
mpmath
multidict
networkx
numba
numpy
oauthlib
opencv-python-headless
ordereddict
packaging
pathtools
Pillow
protobuf
psutil
pyasn1
pyasn1-modules
pyDeprecate
pynndescent
pyparsing
python-dateutil
pytorch-lightning
pytz
PyWavelets
PyYAML
qudida
requests
requests-oauthlib
rsa
safetensors
scikit-image
scikit-learn
scipy
sentry-sdk
setproctitle
six
smmap
sympy
tensorboard
tensorboard-data-server
threadpoolctl
tifffile
timm
torch
torchmetrics
torchsummary
torchvision
tqdm
typing-extensions
umap-learn
urllib3
wandb
Werkzeug
yarl
zipp